# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
digiv-ui/node_modules

digiv-ui/.pnp
digiv-ui/.pnp.js
node_modules
dist 
.next
digiv-ui/public/assets

# testing
/coverage

# next.js
digiv-ui/.next/
digiv-ui/out/

# production
apps/build

# misc
digiv-ui/.DS_Store
*.pem

# debug
digiv-ui/npm-debug.log*
digiv-ui/yarn-debug.log*
digiv-ui/yarn-error.log*


#3dvista 
digiv-ui/public/static/media
digiv-ui/public/static/*.mp4
media
*.mp4

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
