@import "../helper/variable";
@import "../components/modalDetailCar.scss";

.main-booth {
    display: block;
    height: auto;
    position: relative;
    // height: 110vh;

    @media (min-width:$screen-xl) {
        height: fit-content;
        object-fit: cover;
        // height: 90vh;
        z-index: 1;
        // object-position: 100% 64%;
    }

    @media (min-width:$screen-lg) and (max-width:$screen-xl) {
        height: fit-content;
        object-fit: cover;
        // height: 90vh;

        // object-position: 100% 64%;
    }

    @media (min-width:$screen-md) and (max-width:$screen-lg) {
        object-fit: cover;
        height: fit-content;
        // height: 90vh;

    }

    @media (min-width:$screen-sm) and (max-width:$screen-md) {
        object-fit: cover;
        height: fit-content;
        // height: 110vh;


    }

    >img {
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    &__layer {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }


}

.item-layer {
    &__1 {
        left: 12%;
        width: 14%;
        height: 16%;
        position: absolute;
        bottom: 24%;
        cursor: pointer;

        @media (min-width:$screen-xl) {
            left: 10%;
            width: 20%;
            height: 16%;
            position: absolute;
            bottom: 22%;
            cursor: pointer;

        }

        @media (min-width:$screen-lg) and (max-width:$screen-xl) {
            left: 10%;
            width: 20%;
            height: 16%;
            position: absolute;
            bottom: 22%;
            cursor: pointer;
        }

        @media (min-width:$screen-md) and (max-width:$screen-lg) {
            left: 10%;
            width: 20%;
            height: 16%;
            position: absolute;
            bottom: 22%;
            cursor: pointer;
        }

        @media (min-width:$screen-sm) and (max-width:$screen-md) {
            left: 13%;
            width: 18%;
            height: 18%;
            position: absolute;
            bottom: 20%;
            cursor: pointer;
        }

    }
}






