{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@assets": "./assets",
                    "@styles": "./assets/styles",
                    "@pages": "./pages",
                    "@components": "./components",
                    "@helper": "./helper",
                    "@constants": "./constants",
                    "@utils": "./utils",
                    "@hoc": "./hoc",

                    // "@root": "./",
                    // "@redux": "./redux"
                },
                "extensions": [".js", ".scss"]
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "next/babel",
                    {
                        "preset-env": {
                            "modules": "commonjs"
                        }
                    }
                ]
            ],
            "plugins": [
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                ["@babel/plugin-proposal-class-properties", { "loose": true }],
                ["styled-components", { "ssr": true, "displayName": false }],
                [
                    "module-resolver",
                    {
                        "root": ["./"],
                        "alias": {
                            "@assets": "./assets",
                            "@pages": "./pages",
                            "@components": "./components",
                            "@constants": "./constants",
                            "@helper": "./helper",
                            "@utisl": "./utisl",
                            "@root": "./",
                            "@hoc": "./hoc",

                            // "@redux": "./redux"
                        },
                        "extensions": [".js", ".scss"]
                    }
                ]
            ]
        }
    },
    "ignore": [
        "/node_modules/",
    ]
}