html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.btn-blue {
    /* @apply bg-blue-500 text-white font-bold py-2 px-4 rounded; */
}


.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#__next{
    width:100%;
    height: 100%;
}

.max-height-200 {
    max-height: 200px;
}

.modal-content {
    min-width: 12vw;
}

.booth-video-main {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

#video-booth {
    position: relative;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: auto;

    video {
        top: 0px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    img {
        top: 0px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.car-link {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    opacity: 0.7;
    background-color: transparent;
}
